*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: arial;
}

/* Header */

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #ffa600;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #ffa600;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-link {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno (altere conforme necessário) */
    text-decoration: none; /* Remove a decoração de link (sublinhado) */
    border-radius: 5px; /* Borda arredondada */
}

.logo{
    color: #fff;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-buttom{
    display: block;
}

header{
    background-image: radial-gradient(#fff,#c7c7c7);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
    background-color: #ffa600;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover{
    background-color: #ffc400;
}

.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img{
    width: 115%;
}

/* Media queries*/
@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #ffa600;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
}

/* Header*/

/* Main Content */
main{
    background-color: #ebebeb;

}

.gray-background{
    background-color: #2c2c2c;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
}

.cols-4 img {
    max-width: 100%;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols-8 img {
    max-width: 100%;
}

.cols-8{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px)
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background: #0084ff;
    border-radius: 9999px;
    margin: 0px auto 0 auto;
}

.product{
    color: 2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;

}

.rate{
    color: #0084ff;
    font-size: 1.3rem;

}

.product-price span{
    font-weight: 600;

}

/* footer*/

.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;
}

.desenvolvedor{
    margin: 1rem 0;

}

.desenvolvedor p{
    font-weight: bold;
    color: #fff;
}

.logo-footer{
    text-align: center;
}

.logo-footer h3{
    color: #fff;
    margin-bottom: 0.8rem;
}

.redes-sociais{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

@media (max-width: 800px){
    .footer-content{
        display: inline;
        font-size: 0.8rem;
    }

    .footer-content>div{
        padding: 1rem;
    }
    
}

